.equal {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}

.pagination-block {
    display: flex;
    flex-flow: row wrap;
    align-content: center;

    pagination {
        margin: auto;
    }
}

header {
    margin-bottom: 20px;
}
