img.thumbnail {
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
}

img.main-photo {
    border: solid 2px #007196;
}

/* Default class applied to drop zones on over */
.nv-file-over {
    border: solid 1px #007196;
}

input[type="file"] {
    color: transparent;
}

.upload-queue {
    margin-bottom: 40px;
}

.drop-zone {
    text-align: center;
}
